<div style="font-size:0.9em; padding:1px; text-align:center; color: #FFFFFF; background:<%= Setting.plugin_ccbanner['hfbgcolor'] %>;">
<p><%= simple_format(Setting.plugin_ccbanner['hftext']) %></p>
</div>
